<div class="container">
  <h1>Booking detail</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputStudentName">Student Name:</label>
            <div class="controls">
                <input type="text" id="inputStudentName" ng-model="booking.student_name"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputTutorName">Tutor Name:</label>
            <div class="controls">
                <input type="text" id="inputTutorName" ng-model="booking.tutor_name"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputScheduledMeetingDate">Scheduled Meeting Date:</label>
            <div class="controls">
                <input type="text" id="inputScheduledMeetingDate" ng-model="booking.scheduledmeetingdate"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputScheduledEndingDate">Scheduled Ending Date:</label>
            <div class="controls">
                <input type="text" id="inputScheduledEndingDate" ng-model="booking.scheduledendingdate"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputStatus">Status:</label>
            <div class="controls">
                <input type="text" id="inputStatus" ng-model="booking.status"/>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <a ng-click="cancel()" class="btn btn-small">Cancel</a>
                <a ng-click="updateBooking()" class="btn btn-small btn-primary">Update</a>
            </div>
        </div>
    </form>
</div>